.App {
  text-align: center;
}
.promo{
    max-height:400px
}
.dish{
    width: 100%!important;
    margin: 1rem;
}
.footer{
    width: 100%!important;
    text-align: center;
    color: #fff!important;
}
.bg-secondary{
    color: #fff;
}
.card-img-top{
  height: 20rem
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.card{
    width: 18rem;
}




